# ag2[gemini]
# autogen-agentchat[gemini]~=0.2
# google-genai
# google-generativeai
fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart
python-dotenv
pydantic[email]
pandas
numpy
requests
langgraph
yfinance
python-jose[cryptography]
passlib[bcrypt]
google-cloud-firestore
python-dotenv
google-cloud-aiplatform
google-auth

ag2[gemini]
autogen-agentchat[gemini]~=0.2
google-genai
google-generativeai
