# ag2[gemini]
# autogen-agentchat[gemini]~=0.2
# google-genai
# google-generativeai
fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart
python-dotenv
pydantic[email]
pandas
numpy
requests
langgraph
yfinance
python-jose[cryptography]
passlib[bcrypt]
google-cloud-firestore
python-dotenv
#google-cloud-aiplatform
google-auth

#iqra
autogen
google-generativeai
requests
web3==7.13.0
chromadb==1.1.1
sentence-transformers==5.1.0
faiss-cpu==1.11.0.post1